<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: rgb(202, 202, 202);
   color: rgb(0, 0, 0);
   text-align: center;
}
</style>
</head>
<body>

<div class="footer">
    <p>&copy; 2023 Admin Dashboard. All Rights Reserved </a></p>		

</div>

</body>
</html> 