    /* Custom styles */
    html {
        scroll-behavior: smooth;
      }
          body {
            padding-top: 70px;
          }
      
          .section {
            padding: 80px 0;
            text-align: center;
           
          }
      
          .navbar {
            background-color: #f8f9fa;
            border-bottom: 1px solid #e9ecef;
          }
      
          .navbar-brand {
            font-weight: bold;
          }

          .sectionimg{
            background-image: url('/images/parking.jpg');
            
          }

          .navbar {
            background-color: #f8f9fa;
          }
      
          .navbar-brand img {
            height: 70px;
            width: 70px;
          }
      
          .sectionimg {
            background-color: #333;
            padding: 100px 0;
            text-align: center;
          }
      
          .sectionimg h1,
          .sectionimg p {
            color: #fff;
          }
      
          .sectionimg .btn-primary {
            background-color: #ffcc00;
            border-color: #ffcc00;
          }
          
      
          #about,
          #services,
          #contact {
            padding: 100px 0;
            text-align: center;
          }
      
          #contact .form-control {
            border-radius: 20px;
          }
      
          #contact button.btn-primary {
            width: 100%;
          }
      
          footer {
            padding: 20px 0;
            text-align: center;
            background-color: #333;
          }
      
          footer p {
            margin: 0;
            color: #fff;
          }