body {
  background-color: #f9f9f9;
}

.table-red {
  background-color: #ffffff;
  color: #721c24;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
}

.table-red th,
.table-red td {
  text-align: center;
}

.table-red th {
  background-color: #fa8500;
  color: #fff;
  font-weight: bold;
}

.table-red tbody tr {
  transition: background-color 0.3s;
}

.table-red tbody tr:hover {
  background-color: rgba(247, 243, 234, 0.5);
  color: black;
  font-weight: bolder;
}

.table-red tbody td {
  border-top: none;
}

.card-animation {
  animation-name: slideIn;
  animation-duration: 1s;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* button design */
.btn-verify {
display: inline-block;
border: none;
border-radius: 4px;
padding: 10px 20px;
background-color: #f3c200;
color: #fff;
font-size: 16px;
font-weight: bold;
text-align: center;
text-decoration: none;
transition: background-color 0.3s ease;
cursor: pointer;
}

.btn-verify:hover {
background-color: #ffc600;
}

.btn-verify:active {
background-color: #ffa200;
}

.btn-verify:focus {
outline: none;
box-shadow: 0 0 0 3px rgba(243, 194, 0, 0.4);
}

.btn-verify:disabled {
background-color: #ccc;
cursor: not-allowed;
}

