@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
    --dark-blue: #11101D;
    --white-blue: #1D1D31;
    --white: #fff;
    --gray: #8390a2;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
  }
  
  body{
    background-color: #f9f9f9;
  }
  /* topbar */

    /* .home_section {
    position: relative;
    width: calc(100% - 250px);
    min-height: 100vh;
    left: 250px;
    top: 0;
    background: #E4E9E7;
    transition: all 0.5s ease;
  } */
  
  .home_section .topbar {
    position: relative;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    background: var(--white);
  }

    .home_section .topbar .toggle {
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
  }
  
  .home_section .topbar .search_wrapper {
    position: relative;
    height: 50px;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 30px;
    overflow-x: hidden;
  }
  
  .home_section .topbar .search_wrapper input {
    position: relative;
    height: 100%;
    padding: 0.5rem;
    border: none;
    outline: none;
  }
  
  .home_section .topbar .search_wrapper span {
    display: inline-block;
    padding: 0rem 1rem;
    transform: translateY(20%);
    font-size: 1.5rem;
  }
  
  .home_section .topbar .toggle {
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
  }
  
  .home_section .topbar .search_wrapper {
    position: relative;
    height: 50px;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 30px;
    overflow-x: hidden;
  }
  
  .home_section .topbar .search_wrapper input {
    position: relative;
    height: 100%;
    padding: 0.5rem;
    border: none;
    outline: none;
  }
  
  .home_section .topbar .search_wrapper span {
    display: inline-block;
    padding: 0rem 1rem;
    transform: translateY(20%);
    font-size: 1.5rem;
  }
  

  .sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 250px;
    height: 100%;
    padding-left: 20px;
    background: #ffa637;
    transition: all 0.5s ease;
    z-index: 99;
  }
  
  .sidebar .logo_details {
    position: relative;
    height: 60px;
    display: flex;
    align-items: center;
    
  }
  
  .sidebar li {
    position: relative;
    margin: 8px 0;
    list-style: none;
  }
  
  .sidebar i {
    position: relative;
    height: 60px;
    min-width: 50px;
    font-size: 28px;
    line-height: 60px;
    text-align: center;
    color: var(--white);
  }
  
  .sidebar .logo_details .logo_name {
    font-size: 20px;
    font-weight: 600;
    color: var(--white);
    transition: all 0.5s ease;
  }
  
  .sidebar ul li a i {
    position: relative;
    height: 50px;
    font-size: 18px;
    line-height: 50px;
  }
  
  .sidebar ul li a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 30px 0px 0px 30px;
    transition: all 0.5s ease;
  }
  
  .sidebar ul li a .links_name {
    font-size: 15px;
    font-weight: 400;
    color: var(--dark-blue);
    transition: 0.4s;
  }
  
  .sidebar li.login {
    position: fixed;
    width: 250px;
    height: 60px;
    left: 0;
    bottom: -8px;
    padding: 20px 20px;
    background: #ffffff;
    transition: all 0.5s ease;
    color: #11101D;
  }
  
  .sidebar .login #log_out {
    position: absolute;
    height: 60px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    line-height: 60px;
    transition: all 0.5s ease;
  }
  
  .sidebar li a.active {
    background: var(--white);
  }
  
  .sidebar li a:hover {
    background: var(--white);
  }
  
  .sidebar li a.active .links_name,
  .sidebar li a.active i {
    color: var(--dark-blue);
  }
  
  .sidebar li.login a:hover {
    background: none;
  }
  
  .sidebar li.login a:hover .links_name,
  .sidebar li.login a:hover i {
    color: var(--white-blue);
  }
  
  .sidebar.open,
  .sidebar.open li.login {
    width: 78px;
  }
  
  .sidebar.open .logo_name,
  .sidebar.open .links_name {
    opacity: 0;
  }
  
  .sidebar.open .logo_details #btn {
    text-align: right;
  }
  
  
  .sidebar.open ~ .home_section {
    width: calc(100% - 78px);
    left: 78px;
  }

  .links_name{
    font-weight: bolder;
    color:red;
  }
          
  /* Responsive Styles */
  @media only screen and (max-width: 768px) {
    .sidebar {
      width: 100px;
    }
    .sidebar .logo_details .logo_name {
      display: none;
    }
    .sidebar ul {
      flex-direction: column;
    }
    .sidebar ul li .links_name {
      display: none;
    }
    .sidebar ul li a {
      justify-content: center;
    }
    .sidebar ul li a i {
      margin-right: 0;
    }
    .home_section {
      margin-left: 100px;
    }
    .topbar .toggle {
      display: block;
    }
  }
